<% @page_title = 'Private User' %>
<h1>Private User</h1>

<div class="copy">
  <p>Twitter says that this user has their account protected.</p>
  <p>Currently, Flittr does not support these users. Maybe soon.</p>
  <p>Well, sorry about that!</p>
  <p><%= link_to 'Go back home...', root_path %></p>
</div>