<% @page_title = 'Twitter Error' %>
<h1>Twitter Error</h1>

<div class="copy">
  <p>Twitter returned an error for this request.</p>
  <p>Usually this means that a user or status does not exist or is not publicly viewable.</p>
  <p>Well, sorry about that!</p>
  <p><%= link_to 'Go back home...', root_path %></p>
</div>